[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = error
